<nav>

  <button mat-button [matMenuTriggerFor]="dmg">DMG</button>
  <mat-menu #dmg="matMenu" yPosition="above">
    <button mat-menu-item [routerLink]="['table']"
      [queryParams]="{jsonFile: 'dmg_hoards', tableName: []}">Hoard</button>
    <button mat-menu-item [routerLink]="['table']"
      [queryParams]="{jsonFile: 'dmg_gems', tableName: []}">Gems</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="diaMenu">DIA</button>
  <mat-menu #diaMenu="matMenu" yPosition="above">
    <button mat-menu-item [routerLink]="['table']"
      [queryParams]="{jsonFile: 'dia_upper-city-encounter', tableName: []}">Encounter - Upper city
    </button>
    <button mat-menu-item [routerLink]="['table']"
      [queryParams]="{jsonFile: 'dia_lower-city-encounter', tableName: []}">Encounter - Lower city
    </button>
    <button mat-menu-item [routerLink]="['table']"
      [queryParams]="{jsonFile: 'dia_outer-city-encounter', tableName: []}">Encounter - Outer city
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="xgte">Xanathar</button>
  <mat-menu #xgte="matMenu" yPosition="above">
    <button mat-menu-item [routerLink]="['table']"
      [queryParams]="{jsonFile: 'xanathar_random-encounter_arctic', tableName: []}">Encounter - Arctic Biome</button>
  </mat-menu>

</nav>
<section class="tool-container">
  <router-outlet></router-outlet>
</section>
