<div class="table-menu-container">
  <ng-container *ngFor="let table of tables ; let i = index">
    <button mat-button (click)="navigateToElement('table_' + i)">{{table.tableTitle}}</button>
  </ng-container>
</div>

<ng-container *ngFor="let table of tables; let tableIndex = index">
  <app-single-table [table]="table" [tableIndex]="tableIndex"></app-single-table>
</ng-container>

<button class="scroll-top-btn" (click)="scrollTop()" mat-mini-fab color="warn" aria-label="scroll top">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>
