<div class="table-container" [id]="'table_'+tableIndex">

  <div class="title-row">
    <h2>{{table.tableTitle}}</h2>
    <span class="last-roll" *ngIf="lastRoll">Last roll : {{lastRoll}}</span>
    <button mat-button (click)="rollAndFind(table, tableIndex)">
      <mat-icon class="icon-dice" svgIcon="dice" aria-hidden="false"
      aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
  </div>

  <mat-table [dataSource]="table.tableCol" class="mat-elevation-z8">
    <ng-container *ngFor="let header of table.tableHeader; let i = index" [matColumnDef]="header">
      <mat-header-cell *matHeaderCellDef> {{header}} </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[i] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="table.tableHeader"></mat-header-row>
    <mat-row *matRowDef="let row; columns: table.tableHeader; let rowIndex = index"
      [id]="'table_'+ tableIndex +'_row_'+rowIndex">
    </mat-row>
  </mat-table>

</div>
