
.table-container{
  margin: 30px 0;

}
.mat-cell{
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.2rem;
  &:first-of-type{
    max-width: 60px;
  }
}
.row-highLight{
  background-color: aquamarine;
  .mat-cell{
    color: steelblue;
    font-weight: 800;

  }
}
.title-row{
  display: flex;
  align-items: center;
  h2{
    margin : 10px 0 10px 0;
    margin-right: auto;
    font-size: 1rem;
    display: inline-block;
  }
}
.last-roll{
  margin: 0 10px;
  font-size: 0.8rem;
}
