/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  background-color: lightsteelblue;
}

.tool-container{
  width: 100%;
  max-width: 60%;
  margin: auto;
  padding-bottom: 30px;
}
